@import '../../assets/variables.scss';

.header {
  width: 100%;
  margin-top: 0;
  position: sticky;
  padding: 1.2rem;
  background-color: rgba($primary-color, .25);
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 900px;

  .locations {
    display: flex;
    gap: 1.5rem;
    margin-right: 1.5rem;
  }

  .item {
    height: 4rem;
    fill: $secondary-color;
  }

  .home {
    margin-left: 1.5rem;
  }
}